/* Common Css Start */
*{
   padding: 0;
   margin: 0;
   outline: 0;
   box-sizing: border-box;
}
ul{
   list-style-type: none;
}
a{
   text-decoration: none;
}
.mySlides{
   display: none
}
img{
   vertical-align: middle;
}
/* Common Css End */
/* Slider Container Start */
.slideshow-container{
 max-width: 1000px;
 position: relative;
 margin: auto;
}
/* Slider Container End */
/* Next & Previous Button Start */
img{
   position: relative;
}
.prev, .next{
 cursor: pointer;
 position: absolute;
 top: 50%;
 width: auto;
 padding: 16px;
 margin-top: -22px;
 color: white;
 background-color: rgba(8, 8, 8, 0.623);
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
 user-select: none;
}
/* Next & Previous Button End */
/* Position The Text Button To The Right Start */
.next{
 right: 0%;
 border-radius: 3px 0 0 3px;
}
/* Position The Text Button To The Right End */
/* Hover Background Color Start */
.prev:hover, .next:hover{
 background-color: rgba(41, 148, 55, 0.658);
}
/* Hover Background Color End */
/* Caption Text Start */
.text{
 color: #f2f2f2;
 font-size: 15px;
 padding: 8px 12px;
 position: absolute;
 bottom: 8px;
 width: 100%;
 text-align: center;
}
/* Caption Text End */
/* The Dot Start */
.dot{
 cursor: pointer;
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.8s ease;
}
.active, .dot:hover{
 background-color: #717171;
}
/* The Dot End */
/* Fading Animation Start */
.fade{
 animation-name: fade;
 animation-duration: 1.5s;
}
@keyframes fade{
 from {opacity: .4} 
 to {opacity: 1}
}
/* Fading Animation End */
/* On Smaller Screens, Decrease Text Size Start */
@media only screen and (max-width: 300px){
 .prev, .next,.text {font-size: 11px}
}
/* On Smaller Screens, Decrease Text Size End */